.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: ". min-content .";
  align-items: center;
  height: 293px;
  padding: 0 50px;
}

.header__menu {
  display: block;
  width: 391.48px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_active {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-style: normal;
  line-height: 21.13px;
  text-wrap: nowrap;
}

.header__links-list-item_active .header__link {
  text-decoration-line: none;
}

.header__logo {
  grid-area: min-content;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address_link {
  text-wrap: nowrap;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 757px;
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.5);
}

.cover__title {
  z-index: 1;
  height: 385px;
  margin-top: 165px;
  margin-right: 50px;
  margin-left: 50px;
}

.accent-text {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
}

.aligned-start {
  text-align: start;
}

.aligned-center {
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
}

.aligned-end {
  margin-right: -30px;
  padding-top: 20px;
  text-align: end;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.cover__description-text {
  z-index: 1;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover__description-subtext {
  z-index: 1;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  z-index: 1;
  width: 256px;
  height: 51px;
  border: 1px #ffffff solid;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  height: 723px;
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-top: 27px;
}

.lots__card-list-item {
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
}

.card__title {
  z-index: 1;
  width: 254px;
  margin-top: 48px;
  margin-left: 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  width: 254px;
  margin-bottom: 48px;
  margin-left: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  height: 23px;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  display: grid;
  grid-template-columns: 334px 693px;
  grid-template-rows: 595px;
  gap: 25px;
  margin-top: 120px;
  margin-right: 24px;
  margin-left: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 100%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  display: block;
  margin-top: 136px;
  font-weight: 700px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: block;
  width: 693px;
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
}

.about_description > :nth-child(2) {
  margin-top: 100px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 180px;
  margin-top: 180px;
}

.footer__address {
  max-width: 264.57px;
  height: 98px;
  margin-left: 51px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.footer__address_link {
  text-wrap: nowrap;
}

.footer__menu {
  display: block;
  width: 163.9px;
  margin-left: 102px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  font-style: normal;
  line-height: 21.13px;
  text-wrap: nowrap;
}

.footer__menu-list-item_active .footer__menu-link {
  text-decoration-line: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  width: 240px;
  height: 48px;
  margin-left: 77px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
  list-style: none;
}
